footer {
    display: flex;
    flex-direction: row;
    background-color: #255;
    padding: 18px;
    font-family: 'Dosis', sans-serif;
}
section {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}
section:last-child {
    margin-right: 0px;
}
h2 {
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 2px;
    margin-bottom: 1rem;
    font-size: 25px;
    letter-spacing: 2px;
}
footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-bottom: 18px;
    font-size: 10px;
}
a:hover {
    border-bottom: 1px solid white;
    margin-bottom: 17px;
}